/* flex-direction para determinar la direccion de columnas
o filas (row, column, reverse)*/

/* justify-content para alinear los items (flex-start,
flex-end, center, space-between [a los bordes], 
space-around [uniforme]*/

/* align-content y align-items son similares (stretch,
flex-star, flex-end, center, between, around*/

/* flew-wrap es para aclararle al padre que debe respetar el
ancho de sus hijos (wrap, nowrap, wrap-reverse)*/

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+:wght@400;500;700&family=Roboto:ital,wght@0,100;1,100&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
    background-image: url('');
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 90%;
}

.logo {
    width: 146;
    height: 24;
}

.listasNav {
    display: flex;
    height: 10vh;
    width: 40vw;
    justify-content: space-between;
    align-items: center;
}

.botonNav,
.horizontalContent button,
.centeredContent button {
    display: flex;
    width: 134px;
    height: 44px;
    top: 65px;
    left: 1140.54px;
    border-radius: 50px;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #F3603B;
    border: none;
    box-shadow: 0px 4px 8px rgba(243, 96, 59, 0.5);
    font-size: 13.18px;
    line-height: 19.26px;
    font-weight: 500;
}

h1 {
    width: 439px;
    height: 198px;
    font-weight: 700;
    font-size: 58px;
    letter-spacing: -3.5%;
    font-style: normal;
    line-height: 66px;
    display: flex;
    align-items: center;
    color: #232C50;
}

.first {
    width: 350px;
    height: 71px;
    top: 26px;
    font-weight: 500;
    font-size: 16.56px;
    line-height: 26.01px;
    color: #000000;
}

h2 {
    width: 433px;
    height: 88px;
    font-weight: 700;
    font-size: 36px;
    line-height: 41.26px;
    color: #232851;
}

.second {
    width: 337px;
    height: 88px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24.18px;
    color: #000000;
}

.horizontalContent {
    display: flex;
    justify-content: space-around;
}

.contenedorListas {
    display: flex;
    flex-direction: column;
}

.itemLista p:first-of-type {
    color: #323851;
    font-weight: 700;
    padding: 10px 0;
    margin: 25px 0 15px 15px;
    border-radius: 20px 0 0 20px;
}

.itemLista p span {
    color: #FFFFFF;
    background-color: #F3603B;
    padding: 12px 25px;
    border-radius: 25px;
    margin-right: 10px;
}

.verticalContent {
    display: flex;
    flex-direction: column;
}

.centeredContent {
    display: flex;
    justify-content: center;
}

.headerReview {
    display: flex;
    justify-content: center;
    width: 100%;
}

.reviews {
    margin-top: 10vh;
    margin-bottom: 10vw;
    row-gap: 10vh;
    justify-content: center;
}

.avatarContainer {
    justify-content: center;
    width: 100%;
}

.centeredAvatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 445px;
}

.centeredAvatar img {
    width: 70px;
    height: 70px;
    z-index: 1;
}

.centeredAvatar div {
    background-color: #FAFAFA;
    margin-top: -35px; 
    padding-top: 35px;
    height: 219px;
}

.preFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F3613C;
    width: 100%;
    height: 20vh;
}

.preFooter h2 {
    width: 438px;
    height: 96px;
    color: #FFFFFF;
    font-style: bold;
    font-weight: 700 !important;
    size: 40px;
    line-height: 47.8px;
    letter-spacing: -0.5%;
    align-content: center;
}

.postulate {
    border-radius: 50px;
    justify-content: center;
    height: 40px;
    width: 110px;
    gap: 10px;
    background-color: #FFFFFF;
    color: #F3603B;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    font-size: 13.18px;
    line-height: 19.26px;
    font-weight: 500;
    border: none;
}

.redesSociales {
    display: flex;
    justify-content: space-between;
}

.redesSociales svg {
    fill: #FFFFFF;
}

.redesSociales a {
    width: 20px;
    height: 20px;
}

.links {
    display: flex;
    flex-direction: column;
}

.links li {
    margin: 2vh 0;
    color: #FFFFFF;
}

input:focus::placeholder {
    color: transparent;
    background-color: #FFFFFF;
}

input {
    width: 201px;
    height: 44px;
    padding: 10px;
    gap: 10px;
    border-radius: 50px;
}

.botonFooter {
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 63px;
    gap: 10px;
    padding: 10px;
    background-color: #F3603B;
    color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    font-size: 13.18px;
    line-height: 19.26px;
    font-weight: 500;
    border: none;
}

.mainFooter {
    display: flex;
    background-color: #1E1E26;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20vh;
}

.footerLogo {
    row-gap: 5vh;
}

.mainFooter p {
    font-weight: 500;
    size: 12.5px;
    line-height: 18.26px;
    color: #8C8C94;
}

/* row-gap sirve para distanciar elementos */

.footerInput {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    padding-top: 5vh;
}

.hamburger {
    display: none;
}

@media (max-width: 800px) {
    .hamburger {
        display: block;
    }

    .listasNav {
        display: none;
    }

    .botonNav {
        display: none;
    }
}